---
import SectionDecoration from './Section/SectionDecoration.astro';
import SectionContent from './Section/SectionContent.astro';
---

<div id="wrapper">
	<main>
		<SectionDecoration/>
		<SectionContent/>
	</main>
</div>

<style>

</style>
